.todos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  position: relative;

  .loader {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}